watermark==2.3.1
openpyxl==3.0.10
xlrd==2.0.1

streamlit
altair-ally
xlwt==1.3.0


numpy
pandas
altair

seaborn
geopandas
matplotlib
matplotlib.pyplot
matplotlib.dates

time
datetime
timedelta
pickle
folium

altair_ally

plotly
plotly.figure_factory
plotly.express
plotly.subplots
plotly.graph_objects